<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.OSSRH_USERNAME}</username>
      <password>${env.OSSRH_PASSWORD}</password>
    </server>
      <server>
          <id>${env.SIGN_KEY_ID}</id>
          <username>${env.SIGN_KEY_ID}</username>
          <passphrase>${env.SIGN_KEY_PASS}</passphrase>
          <privateKey>k.txt</privateKey>
      </server>
  </servers>
</settings>
